{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Gachi</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'gachi/styles/main.css' %}">
</head>

<body>
<div id="wrapper">
    <div id="main">
        <div class="inner">
            <h1>Gachi - 설문조사</h1>
            <section>
                <h2>같이 찾는 우리의 가치 - 여러분들 삶에서 가장 중요한 것은 무엇입니까?</h2>
                {% if description %}
                    {% for desc in description %}
                        <p>{{ desc }}</p>
                    {% endfor %}
                {% else %}
                    <p>No description has been sent into context.</p>
                {% endif %}
            </section>
            <div>
                <form accept-charset="UTF-8" enctype="text/plain" action="/submit" method="post" id="poll" name="poll">
                    <section>
                        <h3>다음 문구들 중 가장 자신에게 와 닿는 문구를 하나만 골라주세요</h3>
                        {% if proverbs %}
                            {% for proverb in proverbs %}
                                <p>
                                    <input type="radio" name="proverb" id="proverb{{ forloop.counter }}"
                                           value="{{ proverb }}">
                                    <label for="proverb{{ forloop.counter }}">
                                        {{ proverb }}
                                    </label>
                                </p>
                            {% endfor %}
                        {% else %}
                            <p>명언이 아직 없군요! 이거 어떻게 된 일이에요?</p>
                        {% endif %}
                    </section>
                    <section>
                        <h2>그 다음 질문</h2>
                        <p>아래의 질문들은 당신의 개인적인 정보(연령대와 성별) 을 물어보는 질문입니다.</p>
                        <h4>당신의 나이를 적어주세요</h4>
                        <div>
                            <input type="number" id="age" name="age">
                        </div>
                        <h4>당신의 성별을 골라주세요</h4>
                        <div>
                            <input type="radio" name="gender" id="male" value="M">
                            <label for="male">남성</label>
                            <input type="radio" name="gender" id="female" value="F">
                            <label for="female">여성</label>
                            <section>
                                <div id="submit" class="wrapper style1 first">
                                    <input type="submit" class="special" id="favorite-submit" value="응답 제출">
                                </div>
                            </section>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>